/*
 *** Global Styling
*/
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato Light';
  src: url("../../fonts/Lato-Light.ttf") format("truetype"); }

* {
  font-family: 'Lato Light'; }
  * a,
  * a:hover {
    text-decoration: none; }

/* Helpers & Vars */
.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.strong-text {
  font-family: 'Lato'; }

.white-text {
  color: white !important; }

.btn-green {
  background: rgba(45, 187, 180, 0.9);
  cursor: pointer; }

.btn-yellow {
  background: rgba(255, 181, 51, 0.9);
  cursor: pointer; }

header .icon-custom-size {
  font-size: 1.8em; }

header .navbar {
  background: -moz-linear-gradient(top, #4a4646 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4a4646 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4a4646 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4646', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  position: absolute; }
  header .navbar .navbar-toggler {
    border: none; }
  header .navbar .navbar-brand {
    font-family: 'Lato'; }

main .simple-page-container {
  padding-top: 35vh;
  text-align: center; }

main .jumbotron {
  background: url("../../img/pope.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  padding-top: 25vh; }
  main .jumbotron .box {
    background: rgba(60, 60, 60, 0.55);
    overflow: hidden; }
    main .jumbotron .box h2,
    main .jumbotron .box p,
    main .jumbotron .box a {
      padding: 0 5vh; }
    main .jumbotron .box h2 {
      padding-top: 5vh;
      font-size: 4rem; }
      main .jumbotron .box h2 small {
        font-size: 1.1rem;
        display: block; }
      main .jumbotron .box h2 span {
        font-weight: 700; }
    main .jumbotron .box p {
      font-size: 1.3rem;
      padding-top: 2vh;
      padding-bottom: 0; }
      main .jumbotron .box p.wiki-custom-icon > span {
        font-family: Times New Roman;
        margin-right: .5vw; }
      main .jumbotron .box p.wiki-custom-icon a {
        font-size: .8rem;
        text-decoration: underline; }
    main .jumbotron .box [class*="btn-"] {
      padding: 2vh;
      font-size: 2rem; }

/* 
 *** Media Queries
*/
@media (min-width: 992px) {
  .navbar {
    padding-top: 8vh !important; }
    .navbar .navbar-brand {
      font-size: 2em; }
    .navbar .nav-link,
    .navbar .icon-custom-size {
      cursor: pointer;
      margin-left: 3vw; } }
