/*
 *** Global Styling
*/
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato Light';
  src: url("../../fonts/Lato-Light.ttf") format("truetype"); }

/* Helpers & Vars */
* {
  font-family: 'Lato Light'; }
  * a,
  * a:hover {
    text-decoration: none; }
  * .alert {
    border-radius: 0 !important;
    border: none !important;
    padding-bottom: 0 !important; }
    * .alert h2 {
      float: left;
      margin-right: 2vw;
      font-family: 'Lato';
      font-weight: bolder;
      text-align: center; }
      * .alert h2 small {
        display: block;
        font-family: 'Lato Light';
        font-size: 1.1rem; }
    * .alert > small {
      display: inline-block !important;
      margin-bottom: 2vh; }
      @media (min-width: 992px) {
        * .alert > small {
          display: contents !important; } }
    * .alert > p {
      margin-bottom: 0; }
    * .alert.alert-dismissible {
      padding-right: 2rem; }
      @media (min-width: 992px) {
        * .alert.alert-dismissible {
          padding-right: 4rem; } }
    * .alert.bottom {
      background: url("../../img/alert-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 3vh;
      padding-right: 1.25rem;
      padding-bottom: 3vh !important;
      font-size: 1.7rem; }
      @media (min-width: 992px) {
        * .alert.bottom p {
          display: inline; }
          * .alert.bottom p + button {
            float: right;
            color: #333333;
            border: 2px solid #333333; }
            * .alert.bottom p + button:hover {
              color: white !important; } }
      * .alert.bottom .close {
        display: none; }
  * button {
    border-radius: 0 !important;
    cursor: pointer !important; }
  * .icon-custom-large {
    font-size: 1.8em; }
  * .icon-custom-medium {
    font-size: 1em; }
  * .icon-custom-small {
    font-size: .6em; }
    @media (min-width: 992px) {
      * .icon-custom-small {
        font-size: .4em; } }
  * .no-padding-x {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  * .strong-text {
    font-family: 'Lato'; }
  * .white-text {
    color: white !important; }
  * .flipped-x-axis {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1); }
  * .btn-green {
    background: rgba(45, 187, 180, 0.9);
    cursor: pointer; }
  * .btn-yellow {
    background: rgba(255, 181, 51, 0.9);
    cursor: pointer; }

header .navbar {
  position: absolute;
  background: rgba(0, 0, 0, 0.8); }
  @media (min-width: 992px) {
    header .navbar {
      background: -moz-linear-gradient(top, #4a4646 0%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #4a4646 0%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #4a4646 0%, rgba(255, 255, 255, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ } }
  header .navbar .navbar-toggler {
    border: none; }
  header .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  header .navbar .navbar-brand {
    font-family: 'Lato'; }

main .simple-page-container {
  padding-top: 35vh;
  text-align: center;
  height: 100vh; }

main .jumbotron {
  background: url("../../img/pope.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  min-height: 750px;
  padding-top: 25vh; }
  main .jumbotron .box {
    background: rgba(60, 60, 60, 0.55);
    overflow: hidden; }
    main .jumbotron .box h2,
    main .jumbotron .box p,
    main .jumbotron .box a {
      padding: 0 5vh; }
    main .jumbotron .box h2 {
      padding-top: 5vh;
      font-size: 4rem; }
      main .jumbotron .box h2 small {
        font-size: 1.1rem;
        display: block; }
      main .jumbotron .box h2 span {
        font-weight: 700; }
    main .jumbotron .box p {
      font-size: 1.3rem;
      padding-top: 2vh;
      padding-bottom: 0; }
      main .jumbotron .box p.wiki-custom-icon > span {
        font-family: Times New Roman;
        margin-right: .5vw;
        font-size: 1rem; }
      main .jumbotron .box p.wiki-custom-icon a {
        font-size: .8rem;
        text-decoration: underline;
        vertical-align: middle; }
    main .jumbotron .box [class*="btn-"] {
      padding: 2vh;
      font-size: 2rem; }

main .boxes-container {
  padding-bottom: 2vh; }
  main .boxes-container > h2 {
    margin: 8vh 0; }
  main .boxes-container .card {
    border-radius: 0;
    border: none;
    overflow: hidden;
    height: 300px;
    margin-bottom: 3vh; }
    @media (min-width: 992px) {
      main .boxes-container .card {
        height: 420px;
        margin-bottom: 3vh; } }
    main .boxes-container .card .card-body {
      background: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 79%; }
      @media (min-width: 992px) {
        main .boxes-container .card .card-body {
          height: 60%; } }
      main .boxes-container .card .card-body .card-title,
      main .boxes-container .card .card-body .card-subtitle {
        font-family: 'Lato'; }
        main .boxes-container .card .card-body .card-title .span,
        main .boxes-container .card .card-body .card-subtitle .span {
          font-family: 'Lato Light'; }
      main .boxes-container .card .card-body .card-title {
        font-size: 1.8rem;
        font-weight: bolder; }
        main .boxes-container .card .card-body .card-title > span {
          float: left; }
          main .boxes-container .card .card-body .card-title > span + span {
            display: flex;
            line-height: 1;
            max-width: 90%;
            margin-top: -.2rem; }
      main .boxes-container .card .card-body .card-subtitle {
        font-size: .7rem;
        margin-left: 3vw; }
        @media (min-width: 992px) {
          main .boxes-container .card .card-body .card-subtitle {
            margin-left: 1.5vw; } }
      main .boxes-container .card .card-body .card-text {
        line-height: 1.1;
        margin-left: 3vw; }
        @media (min-width: 992px) {
          main .boxes-container .card .card-body .card-text {
            margin-left: 1.5vw; } }
      main .boxes-container .card .card-body [class*="btn-"] {
        margin-left: -1.25rem;
        margin-right: 1.5vw;
        padding: 1.2vw;
        display: inline-flex;
        cursor: default; }
        @media (min-width: 992px) {
          main .boxes-container .card .card-body [class*="btn-"] {
            margin-right: .7vw;
            padding: .7vw; } }
      main .boxes-container .card .card-body .votes-results-bar-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%; }
        main .boxes-container .card .card-body .votes-results-bar-container [class*="votes-"] {
          margin: 0;
          height: 2.3rem; }
          main .boxes-container .card .card-body .votes-results-bar-container [class*="votes-"] p {
            width: 100%; }
            main .boxes-container .card .card-body .votes-results-bar-container [class*="votes-"] p span {
              margin: 0 .5rem; }
        main .boxes-container .card .card-body .votes-results-bar-container .width-64 {
          width: 64%; }
        main .boxes-container .card .card-body .votes-results-bar-container .width-36 {
          width: 36%; }
      main .boxes-container .card .card-body .voting-btn {
        margin-top: -1.7vh; }
        @media (min-width: 992px) {
          main .boxes-container .card .card-body .voting-btn {
            margin-top: -1vh; } }
        main .boxes-container .card .card-body .voting-btn.left-aligned {
          margin-left: -6rem; }
      main .boxes-container .card .card-body .action-btn {
        margin-right: 2rem;
        border: none; }
        main .boxes-container .card .card-body .action-btn.selected {
          border: 1px solid #E0D7E5; }
        main .boxes-container .card .card-body .action-btn:first-child {
          margin-left: 0; }
        main .boxes-container .card .card-body .action-btn .icon-custom-small {
          font-size: 1.2rem; }
          @media (min-width: 992px) {
            main .boxes-container .card .card-body .action-btn .icon-custom-small {
              font-size: .8rem; } }
        main .boxes-container .card .card-body .action-btn + button {
          margin-top: -2vh; }
          @media (min-width: 992px) {
            main .boxes-container .card .card-body .action-btn + button {
              margin-top: -1vh; } }
    main .boxes-container .card.bg-img-kanye {
      background: url("../../img/kanye.png");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }
    main .boxes-container .card.bg-img-mark {
      background: url("../../img/mark.png");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }
    main .boxes-container .card.bg-img-cristina {
      background: url("../../img/cristina.png");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }
    main .boxes-container .card.bg-img-malala {
      background: url("../../img/malala.png");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }

footer {
  padding-top: 5vh;
  padding-bottom: 3vh;
  border-top: 1px dotted #E0D7E5; }
  footer p,
  footer a {
    color: #9B999C;
    margin-right: 1vw;
    font-size: .8rem;
    display: block; }
    footer p:hover,
    footer a:hover {
      color: #9B999C; }
    @media (min-width: 992px) {
      footer p,
      footer a {
        display: inline-block; } }
    footer p > span,
    footer a > span {
      display: block; }
      @media (min-width: 992px) {
        footer p > span,
        footer a > span {
          display: inline; } }
    footer p .social-icon,
    footer a .social-icon {
      color: #333333;
      font-size: 1.5rem;
      margin-left: 1vw; }

/* 
 *** Media Queries
*/
@media (min-width: 992px) {
  .navbar {
    padding-top: 5vh !important; }
    .navbar .navbar-brand {
      font-size: 2em; }
    .navbar .nav-link,
    .navbar .icon-custom-large {
      cursor: pointer;
      margin-left: 3vw; } }
